<div class="card">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #caption>
          <div class="flex items-center justify-between">
              <span class="text-xl font-bold">Users</span>
              <p-button icon="pi pi-plus" rounded raised />
          </div>
      </ng-template>
      <ng-template #header>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>FullName</th>
              <th>Status</th>
          </tr>
      </ng-template>
      <ng-template #body let-user>
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.firstName + ' ' + user.lastName }}</td>
              <td>
                  <p-tag [value]="user.isActive ? 'Active' : 'Inactive'" [severity]="getStatusTag(user)" />
              </td>
          </tr>
      </ng-template>
      <ng-template #footer> In total there are {{ users ? users.length : 0 }} products. </ng-template>
  </p-table>
</div>
