<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
  <p-card [styleClass]="'w-full'">
    <div class="flex items-center justify-between border-b-2 border-gray-200 pb-2">
      <span class="text-green-500">
        <i class="pi pi-dollar" style="font-size: 2.5rem;"></i>
      </span>
      <div class="text-right">
        <p class="text-md text-gray-500">Revenue</p>
        <h2 class="text-2xl font-semibold">$ 1,345</h2>
      </div>
    </div>
    <div class="flex justify-between items-center mt-2 p-0">
      <p class="text-sm text-gray-500">Last updated</p>
      <p class="text-sm text-gray-500">1 day ago</p>
    </div>
  </p-card>
  <p-card [styleClass]="'w-full'">
    <div class="flex items-center justify-between border-b-2 border-gray-200 pb-2">
      <span class="text-blue-500">
        <i class="pi pi-inbox" style="font-size: 2.5rem;"></i>
      </span>
      <div class="text-right">
        <p class="text-md text-gray-500">Product</p>
        <h2 class="text-2xl font-semibold">200</h2>
      </div>
    </div>
    <div class="flex justify-between items-center mt-2 p-0">
      <p class="text-sm text-gray-500">Last updated</p>
      <p class="text-sm text-gray-500">1 day ago</p>
    </div>
  </p-card>
  <p-card [styleClass]="'w-full'">
    <div class="flex items-center justify-between border-b-2 border-gray-200 pb-2">
      <span class="text-amber-300">
        <i class="pi pi-book" style="font-size: 2.5rem;"></i>
      </span>
      <div class="text-right">
        <p class="text-md text-gray-500">Article</p>
        <h2 class="text-2xl font-semibold">80</h2>
      </div>
    </div>
    <div class="flex justify-between items-center mt-2 p-0">
      <p class="text-sm text-gray-500">Last updated</p>
      <p class="text-sm text-gray-500">1 day ago</p>
    </div>
  </p-card>
  <p-card [styleClass]="'w-full'">
    <div class="flex items-center justify-between border-b-2 border-gray-200 pb-2">
      <span class="text-red-600">
        <i class="pi pi-comments" style="font-size: 2.5rem;"></i>
      </span>
      <div class="text-right">
        <p class="text-md text-gray-500">Feedback</p>
        <h2 class="text-2xl font-semibold">18</h2>
      </div>
    </div>
    <div class="flex justify-between items-center mt-2 p-0">
      <p class="text-sm text-gray-500">Last updated</p>
      <p class="text-sm text-gray-500">1 day ago</p>
    </div>
  </p-card>
</div>
